language: go

go:
  - "1.14.x"
  - "1.15.x"

env:
  - GO111MODULE=on
script:
  -  go test -race ./...  -coverprofile=coverage.txt -covermode=atomic
after_success:
  - bash <(curl -s https://codecov.io/bash)
