language: go

go:
  - "1.9.x"
  - "1.10.x"
  - "1.11.x"
  #- master

install:
  - go get -t -v -d -u ./...

before_install:
  - go get -t -v -d -u github.com/DrmagicE/gmqtt/cmd

script:
  -  go test -race ./pkg/packets
  -  go test -race ./server   -coverprofile=coverage.txt -covermode=atomic
  
after_success:
  - bash <(curl -s https://codecov.io/bash)
